.review-container {
    margin: 5vh 25vh;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #EB507F;
}

a {
    color: black;
}

.review-user {
    display: flex;
    margin-top: 10vh;
    
}

img.user-pic {
    height: 7rem;
    margin-right: 5vh;
}

.form-control {
    width: 500%;
}

.load-more {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}